In [ ]:
import SciServer                      # Collection of all SciServer modules
from SciServer import CasJobs         # Communicate between SciServer Compute and CasJobs
print('Imported SciServer modules')

from matplotlib import pyplot as plt  # pyplot: a commonly-used plotting module (https://matplotlib.org/api/pyplot_api.html)
from pprint import pprint             # pprint: print data structures in readable format (https://docs.python.org/3.5/library/pprint.html)
import pandas
import os
print('Imported other needed modules')

In [ ]:
os.chdir('/home/idies/workspace/Storage/raddick/persistent/example_notebooks')
df = pandas.read_csv('crossapply.csv')
thecsv = ''

#CasJobs.executeQuery('DROP TABLE crossapply8', context='MyDB')#, format='pandas')
#CasJobs.executeQuery('CREATE TABLE crossapply8 (id int, ra float, dec float)', context='MyDB')#, format='pandas')
thecsv = 'id, ra, dec\n'
for ix, thisrow in df.iterrows():
    thecsv += str(ix)+', '+str(thisrow['ra'])+', '+str(thisrow['dec']) + '\n'
SciServer.CasJobs.uploadCSVDataToTable(thecsv, "crossapply11", context='MyDB')
#print('ok')

##df.to_csv
CasJobs.executeQuery('select * from crossapply11')
#print(thecsv)

In [ ]:
query = 'SELECT \n'
query += 'm.id, m.ra AS ra1, m.dec AS dec1,\n' 
query += 'cast(n.objid as nvarchar(99)) as objid, n.distance\n,'
query += 'o.ra AS ra2, o.dec AS dec2\n'
query += 'FROM MyDB.crossapply11 m\n'
query += 'OUTER APPLY dbo.fGetNearestObjEq( m.ra, m.dec, 0.5) AS n\n'
query += 'LEFT JOIN PhotoObj AS o ON n.objid=o.objid\n'
query += 'ORDER BY m.id'
query

df = CasJobs.executeQuery(query, context='DR15')
#df.loc[:, 'objid'] = df['objid'].astype('str')
df = df.set_index('id')
df